.btn {
    &__long {
        background-color: #fff;
        border-radius: 30px;
        padding: 25px 50px;
        border: none;
        cursor: pointer;
        font-size: 32px;
        color: #F56363;
        width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .2s;

        &:active {
            scale: 0.95;
        }
    }

    &__short {
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.20);
        padding: 27px;
        border: none;
        cursor: pointer;
        font-size: 32px;
        color: #F56363;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .2s;

        &:active {
            scale: 0.9;
        }
    }
}

@media (max-width: 768px) {
    .btn {
        &__long {
            font-size: 18px;
            width: 100%;
            padding: 20px 30px;

            & img {
                width: 20px;
            }
        }

        &__short {
            font-size: 18px;
            padding: 20px;

            & img {
                width: 20px;
            }
        }
    }
}

@media (max-width: 440px) {
    .btn {
        &__long {
            font-size: 18px;
            width: 100%;
            padding: 15px 25px;
        }

        &__short {
            font-size: 18px;
            padding: 15px;
        }
    }
}