.option-enter {
    opacity: 0;
}

.option-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.option-exit {
    opacity: 1;
}

.option-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}